<<<<<<< HEAD
/*Header Styles*/

header {
  padding: 10px 0;
}

header.logo {
  display: inline;
  float: left;
  }

/*nav bar*/

header.nav li {
  display: inline-block;
  padding: 8px 8px;
  float:right;
  }
=======
.container {

}
>>>>>>> 7438095cf18e7548e64288ff0067e79007c662c3


/* Global Styles */

h1 {

}

h2 {

}

h3 {

}

header.main {
  position: relative; 
}

header.main nav ul {
  position: absolute;
  right: 10px; bottom: 10px;
  padding: 0; margin: 0;
}

header.main nav ul li {
  display: inline-block;
  padding: 0; margin: 0;
}

.main .module {
  background-color: pink;
  margin: 0 0 20px 0;
}

/* Module Styles */

.main .module h1,
.main .module h2 {
}


/* Page Styles */

.main .hero.module {
  background-color: green;
}

.main .about.module {
  background-color: blue;
}

.main .features.module {
  background-color: green;
}

.main .testimonials.module {
  background-color: blue;
}


