/* logo */

.logo {
  float: left;
}


/*nav bar*/

.header {
  padding: 20 0px;
}

.nav {
  display:inline-block;
  padding: 10 10px;
  float: right;
}

/* end nav bar */

/*Main Banner*/

.main {
  background-image: url('../images/mainImage.png');
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  text-align: center;
  padding: 30px 30px;
  }

/*End Main Banner */

/* Text Description of Jottly */

.description {
  padding: 30px 50px;
}

/* Features (with icons) area styling */

.features {
  background-color: #d7d7d7;
  padding: 30px 0px;
  text-align: center;
}

/* Footer - Mobile */

.mobile {
  padding: 10 10px;
}

/*Font Styling */

h1 {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 35px;      
  color: #fff;
  font-weight: bold;
}

h2 {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 24px;
  color:#fff;
  font-weight: bold;
}

h3 {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 18px;
  color:#252525;
  font-weight: bold;
  text-align:center;
}

h3.subheading {
  color: #1273bd;
  }

h4 {
  font-family: "Aktiv Grotesk", sans-serif; ; 
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
}

p {
  font-family: "Clavo", serif;
  color: #252525;
  size: 14px;
}

/* Other Styling */

body {
    background: #fff;
}

/* Footer */

#footer {
  background-color: #1273bd;
}

.testimonial {
  padding: 40px 0px;
}